.historia {
  display: flex;
  justify-content: center;
}
.historia h1 {
  margin-top: 40px;
  margin-left: 8px;
}
.historia img {
  height: auto;
  margin-bottom: 20px;
}
.historia p {
  font-size: 15px;
}
.historia p span {
  float: right;
}
.historia p img {
  height: 180px;
  float: right;
}

.frase {
  color: #a5824c;
  font-weight: 400;
  font-style: italic;
}

.divi {
  display: flex;
  justify-content: center;
}
.divi img {
  margin-top: 20px;
  height: 90px;
}

.carousel-item {
  text-align: center;
}

.video-embed {
  width: 100%;
  height: 560px;
}

.tit_partidos {
  color: #ad8648;
  margin: 30px;
  text-align: center;
  text-decoration: underline;
  cursor: default;
}

.carousel-control-prev, .carousel-control-next {
  opacity: 100;
}
.carousel-control-prev img, .carousel-control-next img {
  height: 50px;
}

.caja_grande {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.caja_grande-section {
  clear: both;
  margin-bottom: 20px;
}
.caja_grande-section h2 {
  margin-top: 30px;
}

.section h2 {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.jugador {
  width: 100%;
  background-color: rgba(231, 200, 149, 0.4235294118);
  padding: 20px;
  border-radius: 10px;
  box-sizing: border-box;
  transition: transform 1.5s cubic-bezier(0.175, 0.885, 0.32, 1.275), box-shadow 0.5s ease;
  margin-top: 15px;
  margin-bottom: 30px;
}

.jugador img {
  width: 100%;
  border-radius: 10%;
}

.jugador h3 {
  margin-top: 10px;
  margin-bottom: 5px;
  text-align: center;
}

.jugador p {
  margin: 5px 0;
  text-align: center;
}

.jugador:hover {
  transform: scale(1.1);
  box-shadow: 0 0 20px rgba(165, 129, 76, 0.76);
}

.div_main {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  align-items: flex-end;
}
.div_main img {
  width: 100%;
  object-fit: cover;
}
.div_main h1 {
  position: absolute;
  color: #ebd2ab;
  width: 95%;
  padding: 2px 5px;
  font-weight: bolder;
  cursor: pointer;
}

.cajax {
  margin-bottom: 60px;
}
.cajax .col-6 {
  margin-top: 50px;
  width: 100%;
  cursor: pointer;
}
.cajax .col-6 img {
  width: 100%;
  border-radius: 2%;
  object-fit: contain;
}
.cajax .col-6 h2 {
  font-size: 25px;
  color: #cda25c;
  margin-top: 10px;
  font-weight: 700;
}
.cajax .col-6:hover h2 {
  color: #bba074;
  transition: 2s;
}
.cajax .col-6:hover img {
  filter: brightness(170%);
  transition: 2s;
}

footer {
  margin-top: auto;
}

.div_footer {
  min-height: 400px;
  background-color: #130805;
  margin-top: 100px;
  bottom: 0;
  width: 100%;
  cursor: default;
}

.sponsor_cerrajeria {
  padding-top: 15px;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid rgba(205, 162, 92, 0.3647058824);
  border-radius: 80%;
}
.sponsor_cerrajeria .sp_cerrajeria {
  color: #cda25c;
  font-size: 35px;
  text-align: center;
}

.sponsor_otros {
  display: flex;
  justify-content: space-evenly;
  margin: 30px;
}
.sponsor_otros .col-6 {
  height: 90px;
  width: auto;
}

.derechos {
  display: flex;
  justify-content: center;
  color: #cda25c;
  margin-bottom: 0;
}

.sitio {
  font-weight: 400;
  position: relative;
  left: 15px;
  padding: 5px;
  letter-spacing: 2px;
  color: #372013;
  z-index: 500;
  cursor: default;
}

.redes {
  z-index: 700;
  position: absolute;
  top: 30px;
  padding: 20px 15px;
  left: 10px;
}
.redes img {
  float: left;
  margin-right: 12px;
  margin-top: 2px;
}

.top {
  display: flex;
  justify-content: space-between;
  background-color: rgba(209, 170, 111, 0.7333333333);
  height: 30px;
}

.nav-modif {
  padding: 0%;
  z-index: 600;
}

.nav_div-modif {
  background-color: #372013;
  padding: 12px;
  position: sticky;
}

.logo {
  margin: auto;
  z-index: 1000;
  top: -6px;
  left: 0;
  right: 0;
  text-align: center;
  position: absolute;
  height: 98px;
  width: auto;
}

.nav-pags {
  font-weight: 600;
  margin-left: 40px;
  display: block;
  padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
  color: #cda25c;
  background: 0 0;
  border: 0;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
  /*---*/
}
.nav-pags:hover, .nav-pags.active {
  color: #ebd2ab;
}
.nav-pags::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 2px;
  background-color: #cda25c;
  visibility: hidden;
  transition: 0.3s ease-in-out;
}
.nav-pags:hover::before {
  width: 100%;
  visibility: visible;
}

.bord {
  border: none;
}
.bord:focus {
  box-shadow: none;
  outline: none;
}

@media (min-width: 992px) {
  .logo {
    right: 750px;
    height: 124px;
    width: auto;
    z-index: 2000;
    top: -15px;
  }
  .redes {
    float: right;
    position: relative;
    left: auto;
    top: -10px;
  }
  .redes img {
    height: 26px;
    filter: invert(6%) sepia(10%) saturate(2000%) hue-rotate(32deg) brightness(20%) contrast(90%);
  }
  .top {
    height: 50px;
  }
  .sitio {
    padding: 12px;
  }
  .div_main {
    height: 80vh;
    align-items: stretch;
  }
  .div_main h1 {
    font-size: 55px;
    width: 73%;
    top: 74%;
  }
  .cajax .col-6 {
    width: 50%;
  }
  .caja_grande {
    width: 80%;
    margin: auto;
  }
  .jugador {
    width: calc(25% - 20px);
    float: left;
    margin-right: 20px;
  }
  .caja_grande-section {
    margin-right: 0;
  }
  .nav-pags {
    margin-left: 80px;
  }
  .historia h1 {
    margin-top: 55px;
  }
  .historia .grupo {
    height: auto;
    width: 75%;
  }
  .historia p {
    font-size: 20px;
  }
  .historia p img {
    height: 280px;
    float: right;
  }
  .divi img {
    height: 120px;
  }
}
html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  background-color: rgb(245, 225, 201);
  min-height: 100%;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Josefin Sans", sans-serif;
}
* a {
  text-decoration: none;
}

/*# sourceMappingURL=style.css.map */
