.historia{
    display: flex;
    justify-content: center;
    h1 {
        margin-top: 40px;
        margin-left: 8px;
    }

    img {
        height: auto;
        margin-bottom: 20px;
    }

    p {
        font-size: 15px;
        span {
            float: right;
        }

        img {
            height: 180px;
            float: right;
        }
    }

}

.frase {
    color: #a5824c;
    font-weight: 400;
    font-style: italic;
}

.divi {
    display: flex;
    justify-content: center;
    img {
        margin-top: 20px;
        height: 90px;
    }
}