.carousel-item {
    text-align: center;
  }
  .video-embed {
    width: 100%;
    height: 560px;
  }
  
  .tit_partidos {
    color: #ad8648;
    margin: 30px;
    text-align: center;
    text-decoration:underline;
    cursor: default;
  }

  .carousel-control-prev, .carousel-control-next {
    opacity: 100;
    img {
      height: 50px;
    }

  }